/*********************************HOJA DE ESTILO PAGINA SINF****************************************/

/*********estilo general************/

@font-face {
     font-family: titulos ;
     src: url(/fonts/LEMONMILK-BoldItalic.otf);
    }
@font-face{
     font-family: texto;
     src: url(/fonts/libel-suit-rg.otf);
    }

html{
    scroll-behavior: smooth;
    }

body{
    margin: 0;
    padding: 0;
   background-color: #F2ECE4;
}
#container{
    width: 87% ;
    margin :auto;
}

/************ NAV ************/

nav{
    position: sticky;
    top: 0%;
    z-index: 99;
    text-align: center;
   
}
.topnav{
    overflow: hidden;
    background-color: #594B3F;
    font-family: titulos;
}
.topnav a {
    float: left;
    display: block;
    color: #F2ECE4;
    text-align: center;
    padding: 1em 1.5em ;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover{
    color: black;
}
.topnav .icon{
    display: none;
}


/***********************HERO SECTION***************/


#hero{
    background-image: url(/images/PRINCIPAL.jpg);
    background-size: cover;
    background-position: 100%;
    height:95vh ;
    position: relative;
}
#hero h1 {
    position: absolute;
    top: 20px;
    right: 60px;
    font-family: titulos;
    font-size: 2.5em;

}
#calltoaction{
    position: absolute;
    display: inline-block;
    bottom: 40px;
    right: 40px;
    padding: 8px 24px;
    background-color:#BFB5A8 ;
    border-radius: 15px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    border: none;
}
#calltoaction:hover{
    cursor: pointer;
    background-color:#8C8070 ;
    border: 2px solid #594B3F;
}
.fa-arrow-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    size: 30px;
    padding: 5px;
}


/*******************introduction section***************/


#introduction{
    font-family: texto;
    color: black;
    padding: 8%;
    text-align: justify;
    border-top: 2px solid #594B3F;
}
#introduction h1{
    font-family: titulos;
    text-align: center;
    font-size: 2 em;
}
#usb {
    width: 50%;
    float: left;
    margin: 15px;
}

/****************history section*******/

#historia{
    font-family: texto;  
    padding: 3%;
    border-bottom: 2px solid #594B3F;
    text-align: justify;
}
#historia h1{
    font-family: titulos;
    font-size: 1.5em;
    text-align: center;
}
.mitad{
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding:2%;
}
.reset{
    clear: both;
}
#izqda{
    padding: 30px 2%;
    text-align: justify;
    display: block; 
}
#creador {
    width: 75%;
    margin: auto;
    display: block;
}
#compact{
    width: 100%;
    display: block ;
    margin: auto;
}

/****************GALLERY**********************************/
#galeria{
    margin: auto;
    padding: 4%;
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    padding: 4%;
  }
.slideshow-container h1{
    text-align: center;
    margin: auto;
    font-family: titulos;
    padding:5% ;
    font-size: 2em;
}
  
.mySlides {
    display: none;
  }
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
  }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
 
/*******************FOOTER***************************/
#footer{
    padding: 4px 8%;
    background-color: #8C8070;
    
}
.footer-container{
    margin: auto;
   
}
.fila{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 4%;
}
ul{
    list-style: none;
}
.columna{
    width: 25%;
    padding: 0 15px 
}
.columna h4{
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    color: #F2ECE4;
}
.columna h4::before{
    content: '';
    position: absolute;
    left: 0%;
    bottom: -10px;
    background-color: #594B3F;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
}
.columna ul{
    font-size: 16px;
    text-decoration: none;
    
    display: block;
    padding: 0%; 
    
}
.columna a{
    text-decoration: none;
    color: black;  
}
.columna a:hover{
    color: #F2ECE4;
}
/*************MEDIA QUERIES***************************/


/*BARRA MENU*/
@media screen and (max-width : 1000px) {
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
}
@media screen and (max-width : 1000px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}
/*footer*/
@media(max-width:800px){
    .columna{
        width: 50%;
        margin-bottom: 30px;
    }
@media (max-width:600px) {
    .columna{
        width: 100%;
        }
    }
}
/*Galeria*/
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }






